html {
  scroll-behavior: smooth;
}


body {
    font-family: "agenda", sans-serif;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    height: 100vh;
    background: rgb(1,11,19);
    background: -moz-radial-gradient(circle, rgba(1,11,19,1) 0%, rgba(16,12,8,0.9332107843137255) 49%, rgba(26,17,16,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,11,19,1) 0%, rgba(16,12,8,0.9332107843137255) 49%, rgba(26,17,16,1) 100%);
    background: radial-gradient(circle, rgba(1,11,19,1) 0%, rgba(16,12,8,0.9332107843137255) 49%, rgba(26,17,16,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010b13",endColorstr="#1a1110",GradientType=1);
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: #373738 10px solid;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .legal-links a {
    margin: 0 10px ;
    color:#fcce4f;
    text-decoration: none;
}
section, div, nav {
  max-width: 1080px;
  margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 567px) {
    footer {
        flex-direction: column;
    } 
    footer .legal-links {
        margin-top: 15px;
    }
}

img {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    display: block;
}

hr {
    height: 50px;
    border: none;
}

p {
  color: #fefefa;
}
.social-icons {
    display: flex;
    gap: 10px;
} 

.logo img{
    width: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

h1, h2 {
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: clamp(1.5rem, 10vw, 4rem); 
    color: #fcce4f;
}

h2 {
    font-size: clamp(1.5rem, 10vw, 3rem);
    background-color: #fcce4f;
    color: #373738;
}

h3 {
    font-weight: 400;
}

h3.blue {
    font-size: clamp(1.5rem, 10vw, 2.5rem);
    color: #fefefa;
    text-align: center;
    font-weight: bold;
}

.collection-items {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.collection-item {
    text-align: center;
    width: 100%;
    max-width: 280px;
}

.collection-item img{
    width: 100%;
}

a.link-seccion {
    display: inline-block; /* Para que el enlace ocupe solo el ancho del contenido */
    padding: 10px 20px; /* Ajusta el espaciado interno para el botón */
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: 1px solid #007BFF; /* Borde del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: background-color 0.3s, color 0.3s; /* Transición suave al pasar el mouse */

}

a:hover.link-seccion {
    background-color: #0056b3; /* Cambia el color de fondo en el hover */
  color: #fff; /* Cambia el color del texto en el hover */
}

img.one-stat {
    width: 50%;
    max-width: 380px;
}

img.simple-stat {
    width: 80%;
    max-width: 600px;
}

.texty-text {
    width: 90%;
    margin: 0 auto;
}

.texty-text p {
    font-size: clamp(1.2rem, 2.5vw, 1rem);
    font-weight: 300;
    color: #ffffff;
}

.texty-text h4 {
  font-size: clamp(1.8rem, 2.5vw, 1rem);
  font-weight: 600;
  color: #fefefa;
  border: #555652 solid 2px;
  text-align: center;
  padding: 20px;
}

.info-fucsia {
    border-left: 10px solid #c53151;
    padding: 0 10px;
    margin-left: 10px;
}
.info-blue {
    border-left: 10px solid #fefefa;
    padding: 0 10px;
    margin-left: 10px;
}
.info-yellow {
    border-left: 10px solid #fcce4f;
    padding: 0 10px;
    margin-left: 10px;
}

.info-purple {
    border-left: 10px solid #373738;
    padding: 0 10px;
    margin-left: 10px;
}

.high-yellow {
    
    padding: 0 10px;
    margin-left: 10px;
}

.high-yellow p {
  color: #fcce4fbf;
}

.purple-header {
    color: #fff;
    padding: 10px;
}

.purple-header h3{
    font-size: clamp(1.5rem, 10vw, 2.5rem);
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.purple-header p {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    font-weight: 300;
    text-align: center;
}


/* Estilos de los breadcrumbs */

nav {
    padding: 0;
    margin: 0 auto;

}
.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs li {
    display: inline;
    color: #fcce4f;
}

.breadcrumbs li:not(:last-child)::after {
    content: " | ";
    margin: 0 5px;
    color: #fefefa; /* Color del separador */
}

.breadcrumbs a {
    text-decoration: none;
    color: #fefefa; /* Color de los enlaces */
}

.breadcrumbs a:hover {
    text-decoration: underline;
}  

  /*/ TABLA STATS */

  

  .table-cont {
    overflow-x: auto; /* Habilita el scroll horizontal cuando el contenido es más ancho que el contenedor */
    max-width: 50%; /* Evita que la tabla sea más ancha que la ventana gráfica */
    min-width: 360px;
    margin: 0 auto;
}



.table-odds {
  overflow-x: auto; /* Habilita el scroll horizontal cuando el contenido es más ancho que el contenedor */
  max-width: 100%; /* Evita que la tabla sea más ancha que la ventana gráfica */
}

.table-cont table {
  
   min-width: 360px; /* Establece el ancho mínimo de 600px */
   
}

.table-odds table {
  
  min-width: 360px; /* Establece el ancho mínimo de 600px */
  
}
  .stats-table {
    text-align: center;
    font-size: clamp(1.8rem, 2.5vw, 1rem);
    border-spacing: 0 30px;
    width: 100%;
    min-width: 360px;
    
  }

  

  .stats-table img {
    width: 100px;
  }

  .stats-table tbody tr:nth-child(n+2):nth-child(-n+6) td {
    height: 100px;
  }
  
/*  Borde a primeras cinco imagenes */
  .stats-table tbody tr:nth-child(n+3):nth-child(-n+7) td:first-child {
    border: #fcce4f solid 2px;
    filter: sepia(88%);
    -webkit-filter: sepia(88%);
    -moz-filter: sepia(88%);
    position: relative;
    overflow: hidden;
  }

  /* Shine para cinco primera imágenes */

  .stats-table tbody tr:nth-child(n+3):nth-child(-n+7) td:first-child::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    content: "";
    display: block;
    height: 100%;
    left: -75%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
  }

  .stats-table tbody tr:nth-child(n+3):nth-child(-n+7) td:first-child:hover::before, .stats-table tbody tr:nth-child(n+3):nth-child(-n+7) td:focus::before {
    -webkit-animation: shine 0.85s;
    animation: shine 0.85s;
  }

  @-webkit-keyframes stats-table tbody tr:nth-child(n+3):nth-child(-n+7) td {
    100% {
      left: 125%;
    }
  }
  @keyframes stats-table tbody tr:nth-child(n+3):nth-child(-n+7) td {
    100% {
      left: 125%;
    }
  }
  
  /* Fin - Shine para cinco primera imágenes */

  .stats-table tbody tr:nth-child(n+8) td:first-child img {
    filter: grayscale(100%);;
-webkit-filter: grayscale(100%);;
-moz-filter: grayscale(100%);;
  }

  .stats-table tbody tr td:nth-child(1){
    width: 80px;
  }

  .stats-table tbody tr:nth-child(n+8) td {
    font-size: clamp(1.4rem, 2.5vw, 1rem);
  }
  
   .stats-table tbody tr td:nth-child(2) span.team {
    font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    color: #fff;
    border-top: #cac6d6 solid 2px;
  } 

  .stats-table tbody tr td:nth-child(2){
    font-weight: 400;
    border: transparent solid 2px;
    border-bottom: #fcce4f solid 2px;
    color: #fcce4f;
    
  }

  .stats-table tbody tr:first-child td {
    font-weight: 500;
    border: transparent solid 2px;
    border-bottom: #fcce4f solid 2px;
    color: #141414;
    
  }

  .stats-table tbody tr td:nth-child(3){
    font-weight: 500;
    border-bottom: #fcce4f solid 2px;
    background-color: #fcce4f;
    color: #1b1b1b;
  }
  .stats-table tbody tr td:nth-child(4){
    font-weight: 500;
    border-bottom: #fefefa solid 2px;
    color: #fefefa;
  }

  .stats-table tbody tr td:nth-child(5){
    font-weight: 500;
    border-bottom: #373738 solid 2px;
    color: #373738;
  }

  .stats-table tbody tr td:nth-child(6){
    font-weight: 500;
    border-bottom: #ed1e79 solid 2px;
    color: #ed1e79;
  }

  .stats-table tbody tr:first-child td {
    font-size: clamp(1.2rem, 2.5vw, 1rem);
    border: none;
    font-weight: 500;
    background-color: #fcce4f;
    height: 10px;
    padding: 10px 2%;
    color: #141414;
  }
  
  .stats-table tbody tr:nth-child(2) td {
    font-size: clamp(1.2rem, 2.5vw, 1rem);
    border: none;
    font-weight: 400;
    background-color: #fff;
    height: 10px;
    padding: 0 2%;
  }

 
/*/ TABLA ODDS */
.table-odds .stats-table tbody tr:nth-child(n+3):nth-child(-n+100) td:nth-child(6){
  font-weight: 500;
  border-bottom: #dbdfee solid 2px;
}
.table-odds .stats-table tbody tr td:nth-child(6) {
  color: #fefefa;
}

.table-odds .stats-table tbody tr:nth-child(n+3):nth-child(-n+100) td:nth-child(5){
  font-weight: 500;
  border-bottom: #fcce4f solid 2px;
  background-color: #fcce4f;
  
}
.table-odds .stats-table tbody tr td:nth-child(5), .table-odds .stats-table tbody tr td:nth-child(4) {
  color: #fefefa;
}


.table-odds .stats-table tbody tr:nth-child(n+3):nth-child(-n+100) td:nth-child(4){
  font-weight: 500;
  border-bottom: #373738 solid 2px;
}

.table-odds .stats-table tbody tr:nth-child(n+3):nth-child(-n+100) td:nth-child(3){
  font-weight: 500;
  border-bottom: #c53151 solid 2px; 
}
.table-odds .stats-table tbody tr td:nth-child(3) {
  color: #c53151;
  background-color: transparent;
}

.table-odds .stats-table tbody tr td:nth-child(5) {
  color: #373738;
}

.table-odds .stats-table tbody tr td:nth-child(6) {
  color: #dbdfee;
}

.table-odds .stats-table tbody tr:nth-child(2) td:nth-child(5) {
  color: #fefefa;
}

.table-odds .stats-table tbody tr:first-child td {
  font-size: clamp(1.2rem, 2.5vw, 1rem);
  border: none;
  font-weight: 500;
  background-color: #fcce4f;
  height: 10px;
  padding: 10px 2%;
  border-bottom: transparent;
  color: #373738;
}

.stats-table tbody tr:nth-child(2) td {
  font-size: clamp(1.2rem, 2.5vw, 1rem);
  border-bottom: transparent solid 2px;
  font-weight: 400;
  background-color: transparent;
  height: 10px;
  padding: 0 2%;
  color: #fefefa;
}

/* Tabla Mobile */

@media screen and (max-width: 768px) {
 
  
  .stats-table tbody tr td, .stats-table tbody tr td:nth-child(2) span.team, .stats-table tbody tr:nth-child(n+8) td, .stats-table tbody tr:first-child td, .stats-table tbody tr:nth-child(2) td, .table-odds .stats-table tbody tr:first-child td {
    font-size: 14px;
    
  }

  .stats-table img {
    width: 50px;
  }

  .stats-table tbody tr:nth-child(n+2):nth-child(-n+6) td {
    height: 50px;
  }
  .stats-table tbody tr td:nth-child(1) {
    width: 50px;
}
.stats-table tbody tr td:nth-child(2) span.team {
  border-top: none;
}
}
/* Fin - Tabla Mobile */

/* Navegador lateral */

#nav-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border: #fcce4f71 solid 1px;
  padding: 12px;
  z-index: 999;
  max-width: 220px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #nav-container {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(10px);
    background-color: rgba(10, 10, 10, 0.5);
  }

  .warning {
    display: none;
  }
}

#navigation {
  display: none; /* El panel desplegado por defecto */
}

#toggle-nav {
  background-image: url('https://sirbalone.com/img/menu-icon.svg');
  background-size: contain; /* Ajusta el tamaño de la imagen para cubrir el botón */
  width: 25px; /* Ancho del botón */
  height: 25px; /* Altura del botón */
  border: none; /* Elimina los bordes del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fcce4f;
}

/* brillo oro */ 

.glowing-gold {
  -webkit-animation: gold-glow 5s ease-in-out infinite alternate;
  -moz-animation: gold-glow 5s ease-in-out infinite alternate;
  animation: gold-glow 5s ease-in-out infinite alternate;
}

@-webkit-keyframes gold-glow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #FFDD1B, 0 0 16px #FFDD1B, 0 0 20px #FFDD1B, 0 0 25px #FFDD1B, 0 0 37px #FFDD1B;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 5px #FFDD1B, 0 0 8px #FFDD1B, 0 0 10px #FFDD1B, 0 0 14px #FFDD1B, 0 0 17px #FFDD1B;
  }
}

/* fin - brillo oro */

.vert-nav {
  margin: 0 auto;
  padding: 0;
}

.vert-nav li {
  list-style: none;
  
}

.vert-nav li.list-head {
  margin-bottom: 10px;
  color: #fefefa;
}

.vert-nav li a {
  text-decoration: none;
  color: #fefefac9;
}

.vert-nav .active-link {
  color:#be9c17; /* Cambia el color según tu preferencia */
  font-weight: bold; /* Puedes ajustar otros estilos como negrita o subrayado */
}



@media screen and (max-width: 768px) {
 
  
  .vert-nav li {
    display: inline;    
  }
  
  .vert-nav li.list-head {    
    display: block;
  }
  
   
  .vert-nav li:not(:first-child):not(:last-child)::after {
    content: " | ";
    margin: 0 5px;
    color: #fefefa;
    line-height: 2;
  }
}



  /* Cabecera Seccion con jugadores */


div.section-head {
  display: flex;
  position: relative;
  justify-content: space-between;
}

div.section-head div.players {
  position: inherit;
  margin: 0 1%;
}

div.section-head div.players:first-child {
  position: inherit;
  margin: 0 1% 0 0;
}

div.section-head div.players:last-child {
  position: inherit;
  margin: 0 0 0 1%;
}

div.section-head div.players p {
  background-color: #fcce4f;
    text-align: center;
    position: relative;
    padding: 10px;
    margin: 0;
    font-size: clamp(1rem, 4.5vw, 2.8rem);
    font-weight: 500;
    color: #373738;

}

div.players img {   
    filter: sepia(88%);
    -webkit-filter: sepia(88%);
    -moz-filter: sepia(88%);
  }

  div.players img:hover {   
    filter: sepia(74%) brightness(106%) saturate(200%);
-webkit-filter: sepia(74%) brightness(106%) saturate(200%);
-moz-filter: sepia(74%) brightness(106%) saturate(200%);
  }


  /* Shine para jugadores de sección*/ 

  
.shine {
  position: relative;
  overflow: hidden;
}
.shine::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
}
.shine:hover::before, .shine:focus::before {
  -webkit-animation: shine 0.85s;
          animation: shine 0.85s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

  /* Fin - Shine para jugadores de sección*/ 

  
