html {
    scroll-behavior: smooth;
}

body {
    font-family: "agenda", sans-serif;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 1080px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    width: 80%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: #4a1c73 10px solid;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .legal-links a {
    margin: 0 10px ;
    color:#4a1c73
}

@media (min-width: 300px) and (max-width: 567px) {
    footer {
        flex-direction: column;
    } 
    footer .legal-links {
        margin-top: 15px;
    }
}

img {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    display: block;
}

hr {
    height: 50px;
    border: none;
}

.social-icons {
    display: flex;
    gap: 10px;
} 

.logo img{
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

h1, h2 {
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: clamp(1.5rem, 10vw, 3rem); 
    background-color: #f4ff8a;
    color: #4a1c73;
}

h2 {
    font-size: clamp(1.5rem, 10vw, 2rem);
    background-color: #383afe;
    color: #fff;
}

h3 {
    font-weight: 400;
}

h3.blue {
    font-size: clamp(1.5rem, 10vw, 2rem);
    color: #383afe;
    text-align: center;
    font-weight: bold;
}

.collection-items {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.collection-item {
    text-align: center;
    width: 100%;
    max-width: 280px;
}

.collection-item img{
    width: 100%;
}

a.link-seccion {
    display: inline-block; /* Para que el enlace ocupe solo el ancho del contenido */
    padding: 10px 20px; /* Ajusta el espaciado interno para el botón */
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: 1px solid #007BFF; /* Borde del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: background-color 0.3s, color 0.3s; /* Transición suave al pasar el mouse */

}

a:hover.link-seccion {
    background-color: #0056b3; /* Cambia el color de fondo en el hover */
  color: #fff; /* Cambia el color del texto en el hover */
}

img.one-stat {
    width: 50%;
    max-width: 380px;
}

img.simple-stat {
    width: 80%;
    max-width: 600px;
}

.texty-text {
    width: 90%;
    margin: 0 auto;
}

.texty-text p {
    font-size: clamp(1.2rem, 2.5vw, 1rem);
    font-weight: 300;
    color: #292929;
}

.info-fucsia {
    border-left: 10px solid #ed1e79;
    padding: 0 10px;
    margin-left: 10px;
}
.info-blue {
    border-left: 10px solid #383afe;
    padding: 0 10px;
    margin-left: 10px;
}
.info-yellow {
    border-left: 10px solid #f4ff8a;
    padding: 0 10px;
    margin-left: 10px;
}

.info-purple {
    border-left: 10px solid #4a1c73;
    padding: 0 10px;
    margin-left: 10px;
}

.high-yellow {
    background-color: #f4ff8a;
    color: #4a1c73;
    padding: 0 10px;
    margin-left: 10px;
}

.purple-header {
    color: #fff;
    background-color: #4a1c73;
    padding: 10px;
}

.purple-header h3{
    font-size: clamp(1.5rem, 10vw, 2rem);
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.purple-header p {
    font-size: clamp(1.2rem, 2.5vw, 1rem);
    font-weight: 300;
    text-align: center;
}


/* Estilos de los breadcrumbs */

nav {
    padding: 0 20px;
    margin: 0 auto;

}
.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs li {
    display: inline;
    color: #4a1c73;
}

.breadcrumbs li:not(:last-child)::after {
    content: " | ";
    margin: 0 5px;
    color: #383afe; /* Color del separador */
}

.breadcrumbs a {
    text-decoration: none;
    color: #383afe; /* Color de los enlaces */
}

.breadcrumbs a:hover {
    text-decoration: underline;
}



/* Styles for the Back to Top button */

.back-to-top {
    background-color: deeppink;
    text-decoration: none;
    cursor: pointer;
    width: 56px;
    height: 56px;
    z-index: 999;
    position: fixed;
    right: 32px;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
  }
  .back-to-top:hover {
    background-color: #ff51af;
  }
  .back-to-top:active {
    box-shadow: none;
    background-color: #d60074;
  }
  .back-to-top svg.icon__arrow-up {
    fill: white;
    width: 32px;
    height: 32px;
  }
  
 /* Establece el estilo inicial del elemento */
.barra-suscripcion {
    height: auto;
    background-color:rgba(0,0,255,0.5);
    opacity: 0; /* El elemento está inicialmente oculto */
    animation: aparecer 1s linear 30s forwards; /* Animación infinita */
    position: fixed;
    top: 0; /* Lo coloca en la parte inferior */
    left: 0; /* Lo coloca en la parte izquierda */
    width: 100%; /* Ocupa el 50% del ancho de la pantalla */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
    
  }

  .barra-suscripcion a {
    padding: 4px 1px;
    font: 13px "agenda", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 0.5em;
    
  }

  .barra-suscripcion a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  @media (min-width: 300px) and (max-width: 567px) {

    .barra-suscripcion{
        width: 100%;
        height: auto;
        
    }
    .barra-suscripcion a {
      padding: 4px 1px;
      font: 12px "agenda", sans-serif;
      margin: 10px 10px 5px 10px;
    }
  }


  @media (min-width: 568px) {
    .barra-suscripcion a {
      padding: 5px 50px;
      font: 16px "agenda", sans-serif;
      
    }
  }
  .button1 {
    color: rgb(122, 8, 8);
    background-color: #ffbf10;
    transition: 0.2s ease-in-out;
    border-left: 3px transparent solid;
    border-right: 3px transparent solid;
  }
  
  .button1:hover {
    color: #ffbf10;
    background-color: black;
    border-left: #ffbf10 3px solid;
    border-right: #ffbf10 3px solid;
  }
  
  .button2 {
    color: black;
    background-color: #10ffb4;
    transition: 0.2s ease-in-out;
    border-left: 3px transparent solid;
    border-right: 3px transparent solid;
  }
  
  .button2:hover {
    color: #10ffb4;
    background-color: black;
    border-left: #10ffb4 3px solid;
    border-right: #10ffb4 3px solid;
  }


  
  /* Define la animación para hacer que el elemento aparezca y desaparezca */
  @keyframes aparecer {
    to {
      opacity: 1; /* Cambia la opacidad a 1 para mostrar el elemento */
    }
  }


  /*/ TABLA STATS */

  .table-cont {
    overflow-x: auto; /* Habilita el scroll horizontal cuando el contenido es más ancho que el contenedor */
    max-width: 100%; /* Evita que la tabla sea más ancha que la ventana gráfica */
}

.table-cont table {
   min-width: 600px; /* Establece el ancho mínimo de 600px */
   
}
  .stats-table {
    text-align: center;
    font-size: clamp(1.8rem, 2.5vw, 1rem);
    border-spacing: 0 30px;
    
  }

  .stats-table img {
    width: 100px;
  }

  .stats-table tbody tr td {
    vertical-align: bottom;
  }
  .stats-table tbody tr td:nth-child(1){
    width: 80px;
  }
  .stats-table tbody tr td:nth-child(2){
    font-weight: 300;
    font-size: 14px;
    border: white solid 5px;
  }
  .stats-table tbody tr td:nth-child(3){
    font-weight: 300;
    border: transparent solid 5px;
    border-bottom: #f4ff8a solid 5px;
    
  }
  .stats-table tbody tr td:nth-child(4){
    font-weight: 500;
    border-bottom: #f4ff8a solid 5px;
    background-color: #f4ff8a;
    color: #4a1c73;
  }
  .stats-table tbody tr td:nth-child(5){
    font-weight: 500;
    border-bottom: #383afe solid 5px;
    color: #383afe;
  }

  .stats-table tbody tr td:nth-child(6){
    font-weight: 500;
    border-bottom: #4a1c73 solid 5px;
    color: #4a1c73;
  }

  .stats-table tbody tr td:nth-child(7){
    font-weight: 500;
    border-bottom: #ed1e79 solid 5px;
    color: #ed1e79;
  }

  .stats-table tbody tr:first-child td {
    border: none;
    font-weight: 400;
    background-color: #fff;
    height: 100px;
    padding: 0 2%;
  }

 
