body { font-family: sans-serif; margin: 20px; }

.container { max-width: 600px; margin: auto; }

select, button { display: block; margin-top: 10px; padding: 10px; font-size: 16px; }

canvas { 
  border: 1px solid black; 
  margin-top: 20px; 
  width: 250px; 
  height: auto;
background-image: url(https://images.teemill.com/m0nztzrcpesjqrvsgtni3n9htkjyttxfzykp3cuvebe5tjeb.png.webp?h=250&fit=contain&v=2);}
